<div class="main-container container">
    <ul class="header-main type-1">
        <li class="home"><a href="#">Home<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
        <li class="home"><a href="#">Smartphone &amp; Tablets<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
        <li><a href="#">{{ product.name}}</a></li>
    </ul>

    <div class="row">
        <!--Middle Part Start-->
        <div id="content " class="col-md-12 col-sm-12 type-1">
            <div class="product-view row">
                <div class="left-content-product col-lg-9 col-xs-12">
                    <div class="row">
                        <div class="content-product-left class-honizol col-md-6 col-sm-12 col-xs-12 ">
                            <div class="large-image  ">
                                <img itemprop="image" class="product-image-zoom" src="/static/img/demo/shop/product/resize/product-1.jpg" data-zoom-image="/static/img/demo/shop/product/resize/product-1.jpg" title="{{ product.name}}" alt="{{ product.name}}">
                            </div>
                            <div id="thumb-slider" class="owl-theme owl-loaded owl-drag full_slider owl-carousel " data-nav='yes' data-loop="yes" data-margin="10" data-items_xs="2" data-items_sm="3" data-items_md="4">
                                <a data-index="0" class="img thumbnail " data-image="/static/img/demo/shop/product/resize/product-1.jpg" title="{{ product.name}}">
                                    <img src="/static/img/demo/shop/product/product-1.jpg" title="{{ product.name}}" alt="{{ product.name}}">
                                </a>
                                <a data-index="1" class="img thumbnail " data-image="/static/img/demo/shop/product/resize/product-2.jpg" title="{{ product.name}}">
                                    <img src="/static/img/demo/shop/product/product-2.jpg" title="{{ product.name}}" alt="{{ product.name}}">
                                </a>
                                <a data-index="2" class="img thumbnail " data-image="/static/img/demo/shop/product/resize/product-3.jpg" title="{{ product.name}}">
                                    <img src="/static/img/demo/shop/product/product-3.jpg" title="{{ product.name}}" alt="{{ product.name}}">
                                </a>
                                <a data-index="3" class="img thumbnail " data-image="/static/img/demo/shop/product/resize/product-4.jpg" title="{{ product.name}}">
                                    <img src="/static/img/demo/shop/product/product-4.jpg" title="{{ product.name}}" alt="{{ product.name}}">
                                </a>
                                <a data-index="3" class="img thumbnail " data-image="/static/img/demo/shop/product/resize/product-4.jpg" title="{{ product.name}}">
                                    <img src="/static/img/demo/shop/product/product-4.jpg" title="{{ product.name}}" alt="{{ product.name}}">
                                </a>
                            </div>
                        </div>

                        <div class="content-product-right col-md-6 col-sm-12 col-xs-12">
                            <div class="title-product">
                                <h1>{{ product.name}}</h1>
                            </div>
                            <!-- Review -->
                            <div class="box-review form-group">
                                <div class="ratings">
                                    <div class="rating-box">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star gray"></i>
                                    </div>
                                </div>

                            </div>
                            <div class="product-box-desc">
                                {{ product.description }}
                            </div>
                            <div class="product-label form-group">
                                <div class="stock">
                                    <span>Availability:</span> <span class="instock">In Stock</span>
                                    <p>SKU: 3721 -Vlk</p>
                                </div>
                                <div class="product_page_price price" itemprop="offerDetails" itemscope="" itemtype="http://data-vocabulary.org/Offer">
                                    <span class="price-new" itemprop="price">R$ {{ product.sell_value }}</span>
                                    <!--<span class="price-old">$122.00</span>-->
                                </div>

                            </div>
                            <div id="product">
                                <div class="form-group box-info-product">
                                    <div id="product_buttons_root"></div>
                                </div>
                            </div>
                            <!-- end box info product -->
                            <div class="share">
                                <p>Share This:</p>
                                <div class="share-icon">
                                    <ul>
                                        <li class="facebook"><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li class="twitter"><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li class="google"><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li class="skype"><a href=""><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>					</div>
                        <div class="row">
                            <div class="col-sx-12">
                                <div class="producttab ">
                                    <div class="tabsslider  col-xs-12">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" href="#tab-1">Description</a></li>
                                            <li class="item_nonactive"><a data-toggle="tab" href="#tab-5">Custom Tab</a></li>
                                        </ul>
                                        <div class="tab-content col-xs-12">
                                            <div id="tab-1" class="tab-pane fade active in">
                                                {{ product.description }}
                                            </div>
                                            <div id="tab-5" class="tab-pane fade">
                                                <p>Lorem ipsum dolor sit amet, consetetur
                                                    sadipscing elitr, sed diam nonumy eirmod
                                                    tempor invidunt ut labore et dolore
                                                    magna aliquyam erat, sed diam voluptua.
                                                    At vero eos et accusam et justo duo
                                                    dolores et ea rebum. Stet clita kasd
                                                    gubergren, no sea takimata sanctus est
                                                    Lorem ipsum dolor sit amet. Lorem ipsum
                                                    dolor sit amet, consetetur sadipscing
                                                    elitr, sed diam nonumy eirmod tempor
                                                    invidunt ut labore et dolore magna aliquyam
                                                    erat, sed diam voluptua. </p>
                                                    <p>At vero eos et accusam et justo duo dolores
                                                        et ea rebum. Stet clita kasd gubergren,
                                                        no sea takimata sanctus est Lorem ipsum
                                                        dolor sit amet. Lorem ipsum dolor sit
                                                        amet, consetetur sadipscing elitr.</p>
                                                        <p>Sed diam nonumy eirmod tempor invidunt
                                                            ut labore et dolore magna aliquyam erat,
                                                            sed diam voluptua. At vero eos et accusam
                                                            et justo duo dolores et ea rebum. Stet
                                                            clita kasd gubergren, no sea takimata
                                                            sanctus est Lorem ipsum dolor sit amet.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{> product/latest_products }}
                        </div>
                        {{> product/related_products }}
                    </div>
                    <!--Middle Part End-->
                </div>